{{#each this}}
<div class='card-body'>
    <h2 class='card-title-country'>
        Країна: {{name}}
    </h2>
    <h3 class='card-title-city'>
        Столиця: {{capital}}
    </h3>
    <h3 class='card-text'>
        Населення: {{population}}
    </h3>
    <ul class='card-text'>
        <h4>
            Мова:
        </h4>
        {{#each languages}}
        <li>
            {{name}}
        </li>
        {{/each}}
    </ul>
</div>
<div class='card-img'>
    <img src="{{flag}}" alt="{{name}}" width='120' />
</div>
{{/each}}